*
{
    padding:0;
    margin:0;
}
header{
    position:fixed;
    width:100%;
    top:0;
    left:0;
    background: #f0f0f0;
    z-index:1;
    height:90px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}
.nav
{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top:-30px;
}
.mysidenav{
    display:flex;
    align-items: center;
    column-gap:1rem;
}
.nav img{
    width:70px;
    height:35%;
    padding:20px;
}
.search-bar
{
    max-width:400px;
    margin-bottom:-30px;
}
.search-bar input{
    width:100%;
    padding:8px;
    font-size:16px;
    border-radius:8px;
    border:1px solid #ccc;
}
#cart-icon{
    position:relative;
    font-size:1.6rem;
    color:lightblue;
    cursor:pointer;
}
#cart-count
{
    position:absolute;
    right:-10px;
    bottom:0;
    background:lightblue;
    color:red;
    width:18px;
    height:18px;
    font-size: 12px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content: center;
}
.product-container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:1rem;
    margin-top:5%;
}
.product{
    margin-bottom: 10px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
    border-radius:15px;
    box-shadow:0 4px 8px rgba(0,0,0,0.2);
    transition:background-color .3s ease,box-shadow .3s ease;
    -webkit-transition:background-color .3s ease,box-shadow .3s ease;
    -moz-transition:background-color .3s ease,box-shadow .3s ease;
    -ms-transition:background-color .3s ease,box-shadow .3s ease;
    -o-transition:background-color .3s ease,box-shadow .3s ease;
}
.wrapper
{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:20px;
    padding:10%;
    text-align: center;
}
.product-img{
    width:350px;
    height:350px;
    gap:10px;
    margin-top:5%;
    margin-bottom:5%;
    padding-left:10px;
    padding-right:10px;
}
.product-title
{
    font-size:1.25rem;
    font-weight: 600;
    color:black;
    text-transform: uppercase;
    margin:0.8rem 0 0.5rem;
}
.product-price
{
    font-size:1.35rem;
    font-weight: 700;
    color:aqua;
}
.add-to-cart
{
    background:#006400;
    color:#ffffff;
    font-weight:600 ;
    letter-spacing:1px ;
    display:flex;
    justify-content:center ;
    padding:10px;
    margin-top:0.6rem;
    cursor:pointer;
}
.container
{
    padding:30px;
    margin:30px;
    display:flex;
    gap:20px;
}
p{
    font-size:24px;
}
img{
    width:50%;
    height:50%;
}
ul{
    padding-left:30px;
}
.contact
{
    display:flex;
    padding:20px;
    margin:20px;
    gap:15px;
}
.cont{
    margin-top:123px;
}
.cont img{
    width:70%;
    height:50%;
}
label{
    display:block;
    margin-bottom:16px;
    font-weight:bold;
    color:#333;
}
input,textarea{
    width:400px;
    padding:20px;
    border:1px solid #ddd;
    border-radius:4px;
    box-sizing:border-box;
    font-size:10px;
}
textarea{
    resize:vertical;
}
button
{
    background-color:#28a745;
    color:white;
    padding:10px;
    cursor:pointer;
    font-size:10px;
}
.footer
{
    display:flex;
    gap:10%;
    margin:20px;
    padding:20px;
}
.part img
{
    width:100px;
    height:80px;
}
.home
{
    display:flex;
    justify-content: space-around;
}
.home img{
    margin-top:10%;
}
.home .main
{
    margin-top:144px;
    padding-left:30px;
}
.part h2{
    color:brown;
}
.footer1{
    text-align:center;
    padding:20px;
}
#product h1
{
    text-align:center;
    margin-bottom:40px;
    padding-top:10%;
    padding-bottom:-50px;
}